<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
    </head>
    <body>
        <h1>DH-Herores</h1>
        <ul>
            <li> <a href="/babbage"><button>Babbage</button></a></li>
            <br>
            <li> <a href="/berners-lee"><button>Berners-lee</button> </a> </li>
            <br>
            <li> <a href="/clarke"> <button>C. Clarke</button> </a> </li>
            <br>
            <li> <a href="/hamilton"><button>Hamilton</button> </a> </li>
            <br>
            <li> <a href="/hopper"><button>Murray Hopper</button> </a> </li>
            <br>
            <li> <a href="/lovelace"><button>Lovelace</button> </a> </li>
            <br>
            <li> <a href="/turing"><button>Turing</button> </a> </li>
        </ul>
    </body>
</html>